<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>{{ site.name }}</title>
		<link href="http://netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css" rel="stylesheet"/>
		<script src="http://netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script>
		<script src="http://code.jquery.com/jquery-1.10.2.min.js" ></script>
    <!--mathjax-->
      <script
        src="http://cdn.mathjax.org/mathjax/latest/MathJax.js?config=TeX-AMS-MML_HTMLorMML"
      >
      </script>
      <script>
        MathJax.Hub.Config({
            jax: ["input/TeX","output/HTML-CSS"],
            displayAlign: "left",
            displayIndent: "20px"
        });
      </script>
    <!--toc-->
      <link href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css" rel="stylesheet"/>
        <!--shared at github.io root: -->
          <script src="/assets/jquery.toc.js"></script>
					<link rel="stylesheet" href="/assets/fa.toc.css"/>
        <!--per site: -->
          <!--<link rel="stylesheet" href="{{ site.baseurl }}/assets/syntax.css"/>-->
          <!--<script src="{{ site.baseurl }}assets/jquery.toc.js"></script>-->
      <script>
        $("#toc").toc({
          headings: "h1,h2,h3,h4,h5,h6"
        });
      </script>
		<link rel="stylesheet" href="/assets/syntax.css"/>
		<style>
			body { padding: 10px; }
		</style>
  </head>
  <body>
    <div id="nav">
      <a href="{{ site.baseurl }}" style="font-weight:bold; font-size:30px;">{{ site.name }}</a>
      <a href="https://github.com/cirosantilli{{ site.baseurl }}">Fork me on GitHub!</a>
    </div>
    {{ content }}
  </body>
</html>
